
.cart-component{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    min-height: 70vh;
}

.cart-component h2{
    font-weight: 200;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cart-content{
    width: 80%;
    padding: 10px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cart-content .product-list{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 100%;
}

.cart-content .product-list .product-card{
    display: flex;
    justify-content: start;
    padding: 10px;
    border-top: 1px solid black;
    width: 75%;
}

.cart-content .product-list .product-card .img-product{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.cart-content .product-list .product-card .img-product img{
    width: 60px;
    object-fit: contain;
}

.cart-content .product-list .product-card .info-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart-content .product-list .product-card .info-card .info-card-name span{
    color: black;
    font-weight: 600;
    font-size: 14px;
}

.cart-content .product-list .product-card .info-card .info-card-price{
    margin-bottom: 10px;
}

.cart-content .product-list .product-card .info-card .info-card-price strong{
    color: gray;
  
    font-size: 20px;
}

.cart-content .product-list .product-card .info-card .info-card-price .add-btn, .delete-btn{
    font-size: 22px;
    cursor: pointer;
    margin-left: 10px;
    background-color: transparent;
    outline: none;
    border: none;
}

.delete-btn{
    color: gray;
}

.product-info{
    display: flex;
    justify-content: center;
}

.product-info .info-price{
    padding: 20px;
    box-shadow: 0px 0px 5px black;
    max-height: 180px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

.product-info .info-price .btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.product-info .info-price .btns button{
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.product-info .info-price .btns{
    & .buy-btn{
        background-color: rgba(0,200,0,.9);
    }
    & .empty-btn{
        background-color: rgba(220,0,0,.8);
    }
}


@media (max-width: 415px) {
    .cart-content{
        width: 100%;
        padding: 10px;
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .cart-content .product-list{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        width: 100%;
    }
    .cart-content .product-list .product-card{
        display: flex;
        justify-content: start;
        padding: 10px;
        border-top: 1px solid black;
        width: 100%;
    }
    .product-info{
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
}