
.header-component{
    width: 100%;
    height: auto;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.header-component .header-content{
    width: 90%;
    display: grid;
    grid-template-columns: 10fr 2fr;
}

.header-component .header-content h2{
    font-weight: 100;
}

.header-component .header-content .menuHamburger{
    display: none;
}

.header-component .header-content ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.header-component .header-content ul li a{
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

.li-content{
    position: relative;
}

.li-content .notification-product{
    padding: 2px 6px;
    font-size: 12px;
    color: white;
    background-color: #00A9FF;
    border-radius: 50px;
    position: absolute;
    top: -14px;
    right: -12px;
}

@media (max-width: 415px){
    .header-component .header-content .menuHamburger{
        display: flex;
        align-items: center;
        justify-content: end;
        font-size: 20px;
    }
    
    .header-component .header-content ul{
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        display: none;
        background-color: #E8E8E8;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        list-style: none;
    }

    .header-component .header-content ul li{
        margin-top: 5px;
        margin-bottom: 10px;
        margin-left: 10px;
        border-bottom: 1px solid black;
        & a{
            font-size: 18px;
        }
    }
}