
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.app{
  display: grid;
  grid-template-rows: 1fr auto; /* Una fila para el contenido principal y otra para el pie de página */
  min-height: 100vh;
}